footer.section-p1(style='background-color: #FFCFB3; padding: 30px ;')
  .col
    h4 Contact
    p
      strong Email id: 
      | halfdozenncrew@gmail.com
    p
      strong Phone: 
      | +91 8125768807
    .follow
      h4 Follow Us
      .icon
        i.fab.fa-facebook-f
        i.fab.fa-twitter
        i.fab.fa-instagram
        i.fab.fa-pinterest-p
        i.fab.fa-youtube
  .col
    h4 About
    a(href='#') About Us
    a(href='#') Post Job
    a(href='#') Privacy Policy
    a(href='#') Terms & Conditions
    a(href='#') Contact Us
  .col
    h4 My Account
    a(href='#') Sign in
    a(href='#') Register
    a(href='#') My Wishlist
    a(href='#') Track My Order
    a(href='#') Help
  .col.install
    h4 Install App
    p From App Store or Google Play
    .row
      img(src='/assets/images/app.jpg' alt='App Store')
      img(src='/assets/images/play.jpg' alt='Google Play')
    p Secured Payment Gateways
    img(src='/assets/images/pay.png' alt='Payment Gateways')
  //- Uncomment the copyright section if you want to include it
  // .copyright
  //   p © 2024 , Ava etc - Online Ecommerce Store
