//- extends layout

//- block head 
//-   link(rel='stylesheet', href='/assets/css/jobs.css')


//- block content
//-   .jobs-list-container
//-     h2 6 Jobs
//-     .jobs
//-       // Placeholder for job data
//-       each job in [1, 2, 3, 4, 5, 6]
//-         .job
//-           img(src="./assets/images/software img.png" alt="Job Image")
//-           h3.job-title Software Engineer
//-           .details Responsible for designing, developing, and maintaining software systems and applications.
//-           a.details-btn(href="#") More Details
//-           span.open-position 4 Open Positions
extends layout

block head 
   link(rel='stylesheet', href='/assets/css/jobs.css')

block content
  h1 Job Listings

  form(action="/search-jobs" method="GET")
    label(for="what") Job Type:
    input(type="text" name="what" placeholder="e.g., Developer")
    br
    label(for="where") Location:
    input(type="text" name="where" placeholder="e.g., London")
    br
    button(type="submit") Search Jobs

  if jobs && jobs.length
    ul
      each job in jobs
        li
          h3= job.title
          p= job.description
          p Location: #{job.location.display_name}
          a(href=job.redirect_url target='_blank') View Job
  else
    p No job listings found.
