doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Job Aggregator
    link(rel='stylesheet', href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css')
    link(rel='stylesheet', href='/assets/css/landing.css')
    block head 
  body
    include includes/header

    block content

    include includes/footer

    script(src='/assets/js/landing.js')
    script(src='/assets/js/jobs.js')
    script(src='/assets/js/navbar.js')
    script(src='/assets/js/register.js')
    script(src='/assets/js/dashbord.js')
