body {
    background-color: #f0f4f8;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #4A90E2;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type='text'] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    /* background-color: #4A90E2; */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


